<ion-view title="Developers" id="pageD" hide-nav-bar="true">

    <ion-content padding="true" scroll="true" class="home-header">

      <div class="centering">
	       <h2 style="text-align:center; bottom:75%">Developers</h2>
      </div>
      <div class="row">
	      <div class="d-col-25"><br>
            
            <button id="back_button_d" go-click="/home">Back</button>
        </div>
	      <div class="d-col-50">

	      </div>
	      <div class="d-col-25">

        </div>
      </div>


    </ion-content>

</ion-view>
