<ion-view title="Home" id="page1" hide-nav-bar="true">

    <ion-content padding="true" scroll="false" class="home-header">

      <div class="centering"><br>
	       <h1 style="text-align:center; bottom:75%">Tap Game</h1>
      </div>

      <div class="row">
	      <div class="col-25">
          <div class="penn-pic"><img id="penn-icon" height="55%" width="55%" src='images/rompinaround_logo.png'></div>
        </div>
	      <div class="col-50">

	      </div>
	      <div class="col-25">
          <button id="start_button_h" class="button button-positive" go-click="/setup_horizontal_page">Start Horizontal Test</button>
          <br><br>
          <button id="start_button_c" class="button button-positive" go-click="/setup_circle_page">Start Circle Test</button>
          <br><br>
          <a href="https://abradley.io"><button id="start_button_d" class="button button-positive">About Andrew</button></a>
        </div>
      </div>

    </ion-content>

</ion-view>
